body{
    /* Just so I can scroll down a little bit in a demo */
    margin-bottom: 300px;
}

.red{
    background-color: #e74c3c;
}

.blue{
    background-color: #2980b9;
}

.green{
    background-color: #16a085;
}

.yellow{
    background-color: #f1c40f;
}

.purple{
    background-color: #9b59b6;
}

.grey{
    background-color: #95a5a6;
}

.orange{
    background-color: #e67e22;
}

.pink{
    background-color: #ff9ff3;
}

.skyblue{
    background-color: #48dbfb;
}

.lime{
    background-color: #badc58;
}

.black{
    background-color: #2d3436;
}

.white{
    background-color: #ecf0f1;
}

.box{
    height: 300px;
    width: 300px;
}


.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}


.floatContainer::after{
    clear: both;
    display: block;
    content: '';
}


.smallBox{
    width: 80px;
    height: 80px;
}

.example{
    border: 5px solid #16a085;
    margin-bottom: 20px;
}


.clear{
    clear: both;
}


nav{
    margin-top: 50px;
    background-color: #34495e;
}

nav::after{
    clear: both;
    display: block;
    content: '';
}

.logo{
    float: left;
}

.list{
    float: right
}

.list ul{
    color: white;
    list-style: none;
}

.list ul::after{
    clear: both;
    display: block;
    content: '';
}

.list ul li{
    float: left;
    padding: 0 20px;
}
